<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.car_repair.mapper.ClientMapper">
  <resultMap id="BaseResultMap" type="com.shu.car_repair.entity.Client">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="discount_rate" jdbcType="INTEGER" property="discountRate" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="car_count" jdbcType="INTEGER" property="carCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, client_id, name, type, account, password, discount_rate, contact, tel, car_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from client
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shu.car_repair.entity.Client">
    insert into client (id, client_id, name, 
      type, account, password, 
      discount_rate, contact, tel, 
      car_count)
    values (#{id,jdbcType=INTEGER}, #{clientId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{discountRate,jdbcType=INTEGER}, #{contact,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{carCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.shu.car_repair.entity.Client">
    insert into client
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="discountRate != null">
        discount_rate,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="carCount != null">
        car_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="discountRate != null">
        #{discountRate,jdbcType=INTEGER},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="carCount != null">
        #{carCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.car_repair.entity.Client">
    update client
    <set>
      <if test="clientId != null">
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="discountRate != null">
        discount_rate = #{discountRate,jdbcType=INTEGER},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="carCount != null">
        car_count = #{carCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.car_repair.entity.Client">
    update client
    set client_id = #{clientId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      discount_rate = #{discountRate,jdbcType=INTEGER},
      contact = #{contact,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      car_count = #{carCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getPasswordByUsername" parameterType="java.lang.String" resultType="com.shu.car_repair.entity.Client">
    select * from client where account=#{username} limit 1
  </select>

  <select id="getAllClients" resultType="com.shu.car_repair.entity.Client">
    select * from client
  </select>

  <select id="queryClientByCountAndRate" parameterType="com.shu.car_repair.dto.QueryClientDto" resultType="com.shu.car_repair.entity.Client">
    select * from client where 1=1
    <if test="null != highCarCount">
      and car_count &lt;= #{highCarCount}
    </if>
    <if test="null != lowCarCount">
      and car_count &gt;= #{lowCarCount}
    </if>
    <if test="null != name">
      and name like #{name}
    </if>
    <if test="null != highDiscountRate">
      and discount_rate &lt;= #{highDiscountRate}
    </if>
    <if test="null != lowDiscountRate">
      and discount_rate &gt;= #{lowDiscountRate}
    </if>
  </select>

  <update id="incrCarCountByID" parameterType="java.lang.String">
    update client set car_count=car_count+1
    where client_id=#{clientID}
  </update>

  <select id="getClientByClientID" parameterType="java.lang.String" resultType="com.shu.car_repair.entity.Client">
    select * from client where client_id=#{clientID} limit 1
  </select>
</mapper>