<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.car_repair.mapper.CommissionMapper">
  <resultMap id="BaseResultMap" type="com.shu.car_repair.entity.Commission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="commission_id" jdbcType="BIGINT" property="commissionId" />
    <result column="number_place" jdbcType="VARCHAR" property="numberPlace" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="classification" jdbcType="VARCHAR" property="classification" />
    <result column="settlement_mode" jdbcType="VARCHAR" property="settlementMode" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="due_date" jdbcType="BIGINT" property="dueDate" />
    <result column="date" jdbcType="BIGINT" property="date" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, commission_id, number_place, client_id, staff_id, type, classification, settlement_mode, 
    description, due_date, date, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shu.car_repair.entity.Commission">
    insert into commission (id, commission_id, number_place, 
      client_id, staff_id, type, 
      classification, settlement_mode, description, 
      due_date, date, status
      )
    values (#{id,jdbcType=INTEGER}, #{commissionId,jdbcType=BIGINT}, #{numberPlace,jdbcType=VARCHAR}, 
      #{clientId,jdbcType=VARCHAR}, #{staffId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{classification,jdbcType=VARCHAR}, #{settlementMode,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{dueDate,jdbcType=BIGINT}, #{date,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shu.car_repair.entity.Commission">
    insert into commission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commissionId != null">
        commission_id,
      </if>
      <if test="numberPlace != null">
        number_place,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="classification != null">
        classification,
      </if>
      <if test="settlementMode != null">
        settlement_mode,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="dueDate != null">
        due_date,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commissionId != null">
        #{commissionId,jdbcType=BIGINT},
      </if>
      <if test="numberPlace != null">
        #{numberPlace,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        #{classification,jdbcType=VARCHAR},
      </if>
      <if test="settlementMode != null">
        #{settlementMode,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="dueDate != null">
        #{dueDate,jdbcType=BIGINT},
      </if>
      <if test="date != null">
        #{date,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.car_repair.entity.Commission">
    update commission
    <set>
      <if test="commissionId != null">
        commission_id = #{commissionId,jdbcType=BIGINT},
      </if>
      <if test="numberPlace != null">
        number_place = #{numberPlace,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        classification = #{classification,jdbcType=VARCHAR},
      </if>
      <if test="settlementMode != null">
        settlement_mode = #{settlementMode,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="dueDate != null">
        due_date = #{dueDate,jdbcType=BIGINT},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.car_repair.entity.Commission">
    update commission
    set commission_id = #{commissionId,jdbcType=BIGINT},
      number_place = #{numberPlace,jdbcType=VARCHAR},
      client_id = #{clientId,jdbcType=VARCHAR},
      staff_id = #{staffId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      classification = #{classification,jdbcType=VARCHAR},
      settlement_mode = #{settlementMode,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      due_date = #{dueDate,jdbcType=BIGINT},
      date = #{date,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAllCommissions" resultType="com.shu.car_repair.entity.Commission">
    select * from commission
  </select>
</mapper>